@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
    background: linear-gradient(90.04deg, #132144 0.03%, #461D67 99.98%);
}
.backGround{
    
    background: linear-gradient(112.95deg, #001AA2 0.42%, #9D0EE0 99.3%);
    height: 100vh;
}
.curveImg{
    background: url('/curve.png');
    height: 100vh;
}


/* -------------------------------------- */

.animate-img {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(-6px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(6px);
    }
    100%{
      transform: translateY(-6px);
    }
  }

/* Tab page css */
.colorGradient{
  background: linear-gradient(180deg, rgba(32, 143, 255, 0.76) 0%, rgba(50, 89, 244, 0.96) 100%);
box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.25);
}

.dashboardbackground{
  background: #1e1e2e;
}






/* ==================== */
#spin {
  
}
#spin:after {
    content:"";
    animation: spin 20s ease-in-out infinite;
}
@keyframes spin {
    0% { content:"marketing";}
    20% { content:"content";}
    40% { content:"engineering";}
    60% { content:"crypto";}
    80% { content:"consulting";}
    100% { content:"business";}
}